<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title FileUpload
    body
        form(action="/uploadFile" method="POST" enctype="multipart/form-data")
            input(type="file" value="ファイルを選択" name="image" required)
            button(type="submit") 送信
        if tags
            each tag in tags
                p #{tag.name} : #{tag.confidence}